{% extends 'main/base.html' %}

{% block title %}
Exams
{% endblock title %}

{% block body %}

<div class="container py-4">
    <h3 class="py-4">
        Currently Running Exam
    </h3>

    {% for exam in exams %}
        <div class="card" style="background: #1b262c;">
            <div class="row">
                <div class="col-xs-12 col-md-4 d-flex justify-content-center align-items-center">
                    <span
                        class="material-icons text-light bg-success d-flex justify-content-center align-items-center w-100 h-100"
                        style="font-size: 8rem;">
                        menu_book
                    </span>
                </div>
                <div class="col-xs-12 col-md-8 p-4">
                    <h2>
                        {{ exam.subject.class_name }}
                    </h2>
                    <br>
                    <br>
                    <div class="py-3">
                        <a class="btn btn-success" href="{% url 'exam_answer_list' exam.pk %}">View Answers</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<div class="container py-4">
    <div>
        <button class="btn btn-sm btn-dark" style="border-radius: 5px 5px 0 0;">Upcomming
            Exams</button>
    </div>
    <div class="bg-dark text-light">
        <div class="row px-3"> 
            <div class="col-xs-12 col-md-6 col-lg-4 px-4 py-2">
                <div class="card" style="background: #1b262c;">
                    <div class="p-4">
                        <span
                            class="material-icons text-light d-flex justify-content-center align-items-center w-100 h-100"
                            style="font-size: 4rem;">
                            menu_book
                        </span>
                        <h4>
                            Operating System
                        </h4>
                        <div class="small">
                            <span class="font-weight-bold">Date</span> : 2020 August 20
                        </div>
                        <div class="small">
                            <span class="font-weight-bold">Time</span> : 01 : 30 am - 02 : 00 am
                        </div>
                        <div class="small">
                            <span class="font-weight-bold">After</span> : 20 min
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}
